<div class="newuser_title"><h1>ログイン</h1></div>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
<div class="user_signup">
  <div class="form-group">
    <div><%= f.label :email, class:"text_field" %></div>
    <div><%= f.email_field :email, class:"text_field text_box" %></div>
  </div>
  <div class="form-group">
    <div><%= f.label :password, class:"text_field" %></div>
    <div><%= f.password_field :password, class:"text_field text_box" %></div>
  </div>
  <div class="form-group">
    <div><%= f.submit "Log in" %></div>
  </div>
<% end %>
