<div class="toppage_kininaru col-sm-12 col-md-3">
  <%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user_signup">
    <div class="form-group row">
      <div><%= f.label :名前, class:"text_field col-sm-3" %></div>
      <div><%= f.text_field :name, placeholder: "Name", class:"text_field col-sm-6" %></div>
    </div>
    <div class="form-group row">
      <div><%= f.label :メール, class:"text_field col-sm-3" %></div>
      <div><%= f.email_field :email, placeholder: "Email", class:"text_field col-sm-6" %></div>
    </div>
    <div class="form-group row">
      <div><%= f.label :パスワード, class:"text_field col-sm-3" %></div>
      <div><%= f.password_field :password, placeholder: "Password", class:"text_field col-sm-6" %></div>
    </div>
    <div class="form-group row">
      <div><%= f.label :パスワード（確認）, class:"text_field col-sm-3" %></div>
      <div><%= f.password_field :password_confirmation, placeholder: "Password", class:"text_field col-sm-6" %></div>
    </div>
    <div class="form-group row">
      <div><%= f.label :写真, class:"text_field col-sm-3" %></div>
      <div><%= f.file_field :image, class:"text_field col-sm-6" %></div>
    </div>
    <div><%= f.submit "ユーザーを追加する" %></div>
  </div>
<% end %>
</div>
