<h2>Sign up</h2>
<%= form_with(model: @user, local: true) do |f| %>
  <div class="user_signup">
    <div><%= f.label :name %></div>
    <div><%= f.text_field :name %></div>
    <div><%= f.label :email %></div>
    <div><%= f.email_field :email %></div>
    <div><%= f.label :password %></div>
    <div><%= f.password_field :password %></div>
    <div><%= f.label :password_confirmation %></div>
    <div><%= f.password_field :password_confirmation %></div>
    <div><%= f.submit "Create my account" %></div>
  </div>
<% end %>
