<div class="toppage_kininaru col-lg-3">
<h1><%= @user.name %>さんのおすすめ</h1>

  <!-- ユーザー詳細ページにおすすめニュースを表示 -->
  <% @recommend_news.each do |recommend_news| %>
    <div class="toppage_kininaru_article">
      <div>
        <div><%= link_to recommend_news.title, recommend_news.link, class:"kininaru_article_text" %></div>
          <div class="logos_horizontal">
            <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#Modal<%= recommend_news.id %>">
              コメント
            </button>
            <div data-toggle="modal" data-target="#Modal<%= recommend_news.id %>">
              <i class="far fa-comment"></i>
            </div>
            <%= link_to news_path(recommend_news.id, post: {recommend: false}), method: :put do %>
              <div><i class="fas fa-star" style="color: orange;"></i></div>
            <% end %>
            <div class = "heart_<%= recommend_news.id %>">
              <%= render partial: 'favorites/heart', locals: { new: recommend_news } %>
            </div>
            <%= link_to news_path(recommend_news.id), method: :delete do %>
              <div><i class="far fa-trash-alt"></i></div>
            <% end %>
          </div>
      </div>
      <div>
        <div><%= image_tag recommend_news.image, class:"kininaru_image" %></div>
      </div>
    </div>

  <!-- 「おすすめニュース」のモーダル -->
    <div class="modal fade" id="Modal<%= recommend_news.id %>" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Modal">
              <div class="d-flex align-items-end"><%= link_to recommend_news.title, recommend_news.link %></div>
              <div><%= image_tag recommend_news.image, class:"kininaru_image modal_image" %></div>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              <%= image_tag recommend_news.user.image.url, class:"comment_user_image" %>
              <%= recommend_news.user.name %>さんのコメント
              <input type="button" class="comment_form_btn" value="コメント欄">
            </p>
            <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
            <div id="comments_area<%= recommend_news.id %>">
              <%= render partial: 'comments/index', locals: { comments: recommend_news.comments, new: recommend_news } %>
            </div>
            <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
            <div style="display: none" class="comments_form<%= recommend_news.id %>">
              <%= render partial: 'comments/form', locals: { comment: recommend_news.comments.build, new: recommend_news } %>
            </div>

            <!-- コメント入力欄の表示・非表示を切り替え -->
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
            </script>
            <script>
              $('.comment_form_btn').click(function(){
                $('.comments_form<%= recommend_news.id %>').fadeToggle('slow');
              });
            </script>

            <div class="testtesttest">
            <% @favorite = current_user.favorites.find_by(new_id: recommend_news.id) %>
            <% unless recommend_news.user_id == current_user.id %>
              <% if @favorite.present? %>
                <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
              <% else %>
                <%= link_to 'お気に入りする', favorites_path(new_id: recommend_news.id), method: :post, class: 'btn btn-primary' %>
              <% end %>
            <% end %>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>










  <!-- 「気になる」したニュースを表示 -->
  <div class="accordion" id="accordion-4">
    <div class="card">
      <div class="card-header" id="header-4a">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#card-4a" aria-expanded="true" aria-controls="card-4a">
            気になるニュース
        </button>
      </div>
      <div id="card-4a" class="collapse" aria-labelledby="header-4a" data-parent="#accordion-4">
        <div class="card-body">
          <% @user_news.each do |user_news| %>
            <% if user_news.recommend == false %>
            <div class="toppage_kininaru_article">
              <div>
                <div><%= link_to user_news.title, user_news.link, class:"kininaru_article_text" %></div>
                <div class="logos_horizontal">

                <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#Modal<%= user_news.id %>">
                  コメント
                </button>
                <div data-toggle="modal" data-target="#Modal<%= user_news.id %>">
                  <i class="far fa-comment"></i>
                </div>
                <%= link_to news_path(user_news.id, post: {recommend: true}), method: :put do %>
                  <i class="far fa-star"></i>
                <% end %>
                <div class = "heart_<%= user_news.id %>">
                  <%= render partial: 'favorites/heart', locals: { new: user_news } %>
                </div>
                <%= link_to news_path(user_news.id), method: :delete do %>
                  <div><i class="far fa-trash-alt"></i></div>
                <% end %>
                </div>
              </div>
              <div>
                <div><%= image_tag user_news.image, class:"kininaru_image" %></div>
              </div>
            </div>
            <% end %>


            <!-- 「気になる」したニュースのモーダル -->
              <div class="modal fade" id="Modal<%= user_news.id %>" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="Modal">
                        <div class="d-flex align-items-end"><%= link_to user_news.title, user_news.link %></div>
                        <div><%= image_tag user_news.image, class:"kininaru_image modal_image" %></div>
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        <%= image_tag user_news.user.image.url, class:"comment_user_image" %>
                        <%= user_news.user.name %>さんのコメント
                        <input type="button" class="comment_form_btn" value="コメント欄">
                      </p>
                      <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
                      <div id="comments_area<%= user_news.id %>">
                        <%= render partial: 'comments/index', locals: { comments: user_news.comments, new: user_news } %>
                      </div>
                      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
                      <div style="display: none" class="comments_form<%= user_news.id %>">
                        <%= render partial: 'comments/form', locals: { comment: user_news.comments.build, new: user_news } %>
                      </div>

                      <!-- コメント入力欄の表示・非表示を切り替え -->
                      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
                      </script>
                      <script>
                        $('.comment_form_btn').click(function(){
                          $('.comments_form<%= user_news.id %>').fadeToggle('slow');
                        });
                      </script>

                      <div class="testtesttest">
                      <% @favorite = current_user.favorites.find_by(new_id: user_news.id) %>
                      <% unless user_news.user_id == current_user.id %>
                        <% if @favorite.present? %>
                          <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
                        <% else %>
                          <%= link_to 'お気に入りする', favorites_path(new_id: user_news.id), method: :post, class: 'btn btn-primary' %>
                        <% end %>
                      <% end %>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>

      <!-- お気に入りしたニュースを表示 -->
      <div class="card">
        <div class="card-header" id="header-4b">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#card-4b" aria-expanded="false" aria-controls="card-4b">
              お気に入りしたニュース
          </button>
        </div>
        <div id="card-4b" class="collapse" aria-labelledby="header-4b" data-parent="#accordion-4">
          <div class="card-body">
            <% @favorite_news.each do |favorite_news| %>
            <div class="toppage_kininaru_article">
              <div>
                <div><%= link_to favorite_news.title, favorite_news.link, class:"kininaru_article_text" %></div>
                <div class="logos_horizontal">
                  <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#Modal<%= favorite_news.id %>">
                    コメント
                  </button>
                  <div data-toggle="modal" data-target="#Modal<%= favorite_news.id %>">
                    <i class="far fa-comment"></i>
                  </div>
                  <div class = "heart_<%= favorite_news.id %>">
                    <%= render partial: 'favorites/heart', locals: { new: favorite_news } %>
                  </div>
                </div>
              </div>
              <div>
                <div><%= image_tag favorite_news.image, class:"kininaru_image" %></div>
              </div>
            </div>


            <!-- お気に入りしたニュースのモーダル -->
              <div class="modal fade" id="Modal<%= favorite_news.id %>" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="Modal">
                        <div class="d-flex align-items-end"><%= link_to favorite_news.title, favorite_news.link %></div>
                        <div><%= image_tag favorite_news.image, class:"kininaru_image modal_image" %></div>
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        <%= image_tag favorite_news.user.image.url, class:"comment_user_image" %>
                        <%= favorite_news.user.name %>さんのコメント
                        <% if params[:id] == current_user.id %><input type="button" class="comment_form_btn" value="コメント欄"><% end %>
                      </p>

                      <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
                      <div id="comments_area<%= favorite_news.id %>">
                        <%= render partial: 'comments/index', locals: { comments: favorite_news.comments, new: favorite_news } %>
                      </div>

                      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
                      <% if params[:id] == current_user.id %>
                      <div class="modal_comments">

                        <div style="display: none" class="comments_form<%= favorite_news.id %>">
                          <%= render partial: 'comments/form', locals: { comment: favorite_news.comments.build, new: favorite_news } %>
                        </div>

                        <!-- コメント入力欄の表示・非表示を切り替え -->
                        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
                        </script>
                        <script>
                          $('.comment_form_btn').click(function(){
                            $('.comments_form<%= favorite_news.id %>').fadeToggle('slow');
                          });
                        </script>
                      <% end %>

                      <div class="testtesttest">
                      <% @favorite = current_user.favorites.find_by(new_id: favorite_news.id) %>
                      <% unless params[:id] == current_user.id %>
                        <% if @favorite.present? %>
                          <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
                        <% else %>
                          <%= link_to 'お気に入りする', favorites_path(new_id: favorite_news.id), method: :post, class: 'btn btn-primary' %>
                        <% end %>
                      <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <% end %>
        </div>
      </div>
    </div>
  </div>
