<div class="toppage_kininaru col-sm-12 col-md-3">
    <% @news.each do |new| %>
    <div class="toppage_kininaru_user">
      <div>
      <div class="toppage_kininaru_article">
        <div>
          <div><%= link_to new.title, new.link, class:"kininaru_article_text" %></div>
          <div class="logos_horizontal">
            <div data-toggle="modal" data-target="#Modal<%= new.id %>">
              <i class="far fa-comment"></i>
            </div>

            <% if new.user_id == current_user.id %>
              <%= link_to news_path(new.id), method: :delete do %>
                <div><i class="far fa-trash-alt"></i></div>
              <% end %>
            <% end %>

            <div class = "heart_<%= new.id %>">
              <%= render partial: 'favorites/heart', locals: { new: new } %>
            </div>
          </div>
        </div>
        <div>
          <div><%= image_tag new.image, class:"kininaru_image" %></div>
        </div>
      </div>
      <div class="modal fade" id="Modal<%= new.id %>" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="Modal">
                <div class="d-flex align-items-end"><%= link_to new.title, new.link %></div>
                <div><%= image_tag new.image, class:"kininaru_image modal_image" %></div>
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <%= image_tag new.user.image.url, class:"comment_user_image" %>
                <%= new.user.name %>さんのコメント
                <% if new.user == current_user %>
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      コメント欄
                  </button>
                <% end %>
              </div>

            <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
              <div id="comments_area<%= new.id %>">
                <%= render partial: 'comments/index', locals: { comments: new.comments, new: new } %>
              </div>

            <div class="modal_comments">
            <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
              <div style="display: none" class="comments_form<%= new.id %>">
                <%= render partial: 'comments/form', locals: { comment: new.comments.build, new: new } %>
              </div>

              <div class="collapse" id="collapseExample">
                <%= render partial: 'comments/form', locals: { comment: new.comments.build, new: new } %>
              </div>
              <!-- コメント入力欄の表示・非表示を切り替え -->
              <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
              </script>
              <script>
                $('.comment_form_btn').click(function(){
                  $('.comments_form<%= new.id %>').fadeToggle('slow');
                });
              </script>
            </div>



              <div class="testtesttest">
              <% if @favorite.present? %>
                <%= link_to favorite_path(id: @favorite.id), method: :delete do %>
                  <% if current_user.favorited_by?(new.id) %>
                    <i class="fas fa-heart heart-red"></i>
                    <%= new.favorites.count %>
                  <% else %>
                    <i class="far fa-heart"></i>
                    <%= new.favorites.count %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to favorites_path(new_id: new.id), method: :post do %>
                  <% if current_user.favorited_by?(new.id) %>
                    <i class="fas fa-heart heart-red"></i>
                    <%= new.favorites.count %>
                  <% else %>
                    <i class="far fa-heart"></i>
                    <%= new.favorites.count %>
                  <% end %>
                <% end %>
              <% end %>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
              <button type="button" class="btn btn-primary">保存</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <% end %>
  </div>
  <div class="col-md-1">
  </div>
