<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="toppage_articles col-lg-7">
      <% @top_headlines.each do |news| %>
      <div class="toppage_article">
          <% if news.urlToImage.nil? %>
            <%= image_tag 'atlas.jpg', class:"article_image" %>
          <% else %>
            <%= image_tag news.urlToImage, class:"article_image" %>
          <% end %>
        <%= link_to news.title, news.url, class:"article"%>
        <%= button_to '気になる', {controller: 'news', action: 'create'},
                                 {params: {
                                          title: news.title,
                                          link: news.url,
                                          image: news.urlToImage
                                          },
                                  class:"kininaru_button"} %>
      </div>
      <% end %>
    </div>

    <div class="toppage_kininaru col-lg-3">
      <% @news.each do |new| %>
      <div class="toppage_kininaru_article">
        <div>
          <div><%= link_to new.title, new.link, class:"kininaru_article_text" %></div>
          <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#Modal<%= new.id %>">
            コメント
          </button>
        </div>
        <div>
          <div><%= image_tag new.image, class:"kininaru_image" %></div>
        </div>

        <div class="modal fade" id="Modal<%= new.id %>" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="Modal">
                  <div class="d-flex align-items-end"><%= link_to new.title, new.link %></div>
                  <div><%= image_tag new.image, class:"kininaru_image modal_image" %></div>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                モーダルのコンテンツを表示します。このモーダルはサイズを大きくしています。
                またレシポンシブデザインに対応しているので画面を小さくすると、モーダルも自動で縮小されます
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary">保存</button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <% end %>
    </div>
    <div class="col-lg-1">
    </div>
  </div>
</div>
