<h1>News#index</h1>
<table>
  <% @top_headlines.each do |news| %>
  <tr>
    <td><%= news.title %></td>
    <td><%= news.publishedAt %></td>
    <td>
      <% if news.urlToImage.nil? %>
        <%= image_tag 'atlas.jpg', size: "150x84" %>
      <% else %>
        <%= image_tag news.urlToImage, size: "150x84" %>
      <% end %>
    </td>
    <td><%= button_to '気になる', {controller: 'news', action: 'create'},
                                 {params: {
                                          title: news.title,
                                          link: news.publishedAt,
                                          image: news.urlToImage
                                          }
                                  } %>
    </td>
  </tr>
  <% end %>
</table>
