<h1>News#index</h1>
<div class="container">
  <div class="row">
    <div class="toppage_kininaru">
      <% @news.each do |new| %>
      <%= new.title %>


      <% end %>
    </div>



    <div class="toppage_articles">
      <% @top_headlines.each do |news| %>
      <div class="toppage_article">
          <% if news.urlToImage.nil? %>
            <%= image_tag 'atlas.jpg', class:"article_image" %>
          <% else %>
            <%= image_tag news.urlToImage, class:"article_image"%>
          <% end %>
        <%= news.title %>
        <%= button_to '気になる', {controller: 'news', action: 'create'},
                                 {params: {
                                          title: news.title,
                                          link: news.publishedAt,
                                          image: news.urlToImage
                                          }
                                 } %>
      </div>
      <% end %>
    </div>
  </div>
</div>
