<!DOCTYPE html>
<html>
  <head>
    <title>Kininaru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <li><a href="#">Bootstrapテキストページ</a></li>
        <li><a href="#">トップページ</a></li>
      </ul>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="toppage_articles col-lg-7">
          <% @top_headlines.each do |news| %>
          <div class="toppage_article">
              <% if news.urlToImage.nil? %>
                <%= image_tag 'atlas.jpg', class:"article_image" %>
              <% else %>
                <%= image_tag news.urlToImage, class:"article_image" %>
              <% end %>
            <%= link_to news.title, news.url, class:"article"%>
            <%= button_to '気になる', {controller: '/news', action: 'create'},
                                     {params: {
                                              title: news.title,
                                              link: news.url,
                                              image: news.urlToImage
                                              },
                                      class:"kininaru_button"} %>
          </div>
          <% end %>
        </div>

        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>
        <% if logged_in? %>
          <%= link_to "Profile", user_path(current_user.id) %>
          <%= link_to "Logout", session_path(current_user.id), method: :delete %>
        <% else %>
          <%= link_to "Sign up", new_user_path %>
          <%= link_to "Login", new_session_path %>
        <% end %>

        <%= yield %>

        <div class="col-lg-1">
        </div>
      </div>
    </div>


    <footer>
      <p>気になるニュース</p>
      <p>© 2021 Kininaru News</p>
    </footer>
  </body>
</html>
