<!DOCTYPE html>
<html>
  <head>
    <title>Kininaru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <!--<meta name="viewport" content="width=device-width">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">
        <a class="header_item"><%= link_to "気になるニュース", root_path, class:"header_item navbar-brand header_hello" %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <% if logged_in? %>
            <li class="nav-item">
                <%= link_to "#{current_user.name}さんのマイページ", user_path(current_user.id), class:"header_item" %>
            </li>
            <li class="nav-item">
                <%= link_to "気になるニュース一覧", articles_path, class:"header_item" %>
            </li>
            <% end %>
            <li class="nav-item">
                <% if current_user && current_user.admin? %>
                  <%= link_to "メンバーの一覧", admin_users_path, class:"header_item" %>
                <% elsif current_user.present? %>
                  <%= link_to "メンバーの一覧", users_path, class:"header_item" %>
                <% end %>
            </li>

        <% if current_user && current_user.admin? %>
          <li class="nav-item">
              <%= link_to "メンバーを追加", new_admin_user_path, class:"header_item" %>
          </li>
        <% elsif current_user.nil? %>
          <li class="nav-item">
              <%= link_to "サインアップ", new_user_path, class:"header_item" %>
          </li>
        <% end %>

        <li class="nav-item">
        <% if logged_in? %>
          <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class:"header_item logout" %>
        <% else %>
          <%= link_to "ログイン", new_session_path, class:"header_item" %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>

    <div class="container-fluid body_part">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="toppage_articles col-sm-12 col-md-7">
          <% @hash["articles"].each do |news| %>
          <div class="toppage_article">
              <% if news["media"].nil? %>
                <%= image_tag 'atlas.jpg', class:"article_image" %>
              <% else %>
                <%= image_tag news["media"], class:"article_image" %>
              <% end %>
            <%= link_to news["title"], news["link"], class:"FREE_NEWS_article"%>
            <% if logged_in? %>
              <div id="button_kininaru"><%= button_to '気になる', {controller: '/articles', action: 'create'},
                                       {params: {
                                                article: {
                                                      title: news["title"],
                                                      link: news["link"],
                                                      image: news["media"],
                                                      user_id: current_user.id
                                                    },
                                                },
                                        class:"kininaru_button"} %></div>
            <% end %>
          </div>
          <% end %>
        </div>

        <%# フラッシュメッセージ　%>
        <div class="toppage_kininaru col-sm-12 col-md-3">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "#{key}") %>
          <% end %>

          <%= yield %>

      　</div>

      </div>
    </div>


    <footer>
      <p>気になるニュース from <%= link_to "NewsCatcher", "https://newscatcherapi.com", class:"footer_link" %></p>
      <p>© 2021 Kininaru News</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
