<!DOCTYPE html>
<html>
  <head>
    <title>Kininaru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="header_items">
        <li class="header_item"><%= link_to "気になるニュース", news_index_path %></li>
        <% if logged_in? %>
          <li class="header_item header_hello">こんにちは、<%= current_user.name %>さん。</li>
        <% end %>
        <% if current_user && current_user.admin? %>
          <li class="header_item_user"><%= link_to "メンバーの一覧", admin_users_path %></li>
        <% else %>
          <li class="header_item_user"><%= link_to "メンバーの一覧", users_path %></li>
        <% end %>
        <li class="header_item"><%= link_to "メンバーを追加", new_admin_user_path %></li>
        <% if logged_in? %>
          <li class="header_item"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
        <% else %>
          <li class="header_item"><%= link_to "ログイン", new_session_path %></li>
        <% end %>
      </ul>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1">
        </div>
        <div class="toppage_articles col-lg-7">
          <% @hash["articles"].each do |news| %>
          <div class="toppage_article">
              <% if news["media"].nil? %>
                <%= image_tag 'atlas.jpg', class:"article_image" %>
              <% else %>
                <%= image_tag news["media"], class:"article_image" %>
              <% end %>
            <%= link_to news["title"], news["link"], class:"article"%>
            <% if logged_in? %>
              <%= button_to '気になる', {controller: '/news', action: 'create'},
                                       {params: {
                                                new: {
                                                      title: news["title"],
                                                      link: news["link"],
                                                      image: news["media"],
                                                      user_id: current_user.id
                                                    },
                                                },
                                        class:"kininaru_button"} %>
            <% end %>
          </div>
          <% end %>
        </div>

        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
        <% end %>

        <%= yield %>

      </div>
    </div>


    <footer>
      <p>気になるニュース</p>
      <p>© 2021 Kininaru News</p>
    </footer>
  </body>
</html>
